h1{text-align: center; color: #fff}
body{
    background: linear-gradient(to bottom right, red, blue);
}
.container{
    width: 960px;
    height: 450px;
    margin: 60px auto;
    position: relative;
}
img{
    width: 320px;
    height: 180px;
    border: 10px solid #fff;
    position: absolute;
    transition: 1s;
    z-index: 1;
}
img:hover{
    z-index: 2;
    transform: rotate(0deg) scale(1.5);
    box-shadow: 0 0 10px 2px #fff;
}
.image1{
    top: 50px;
    left: 50px;
    transform: rotate(30deg);
}
.image2{
    top: 50px;
    left: 600px;
    transform: rotate(-20deg);
}
.image3{
    top: 200px;
    left: 600px;
    transform: rotate(-10deg);
}
.image4{
    top: 200px;
    left: 0px;
    transform: rotate(-20deg);
}
.image5{
    top: 260px;
    left: 300px;
    transform: rotate(5deg);
}
.image6{
    top: 20px;
    left: 350px;
    transform: rotate(-10deg);
}
