*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}

.image{
    border: 10px solid #ccc;
    width: 320px;
    height: 180px;
    float: left;
    overflow: hidden;
    position: relative;
    top: 0px;
    left: 0px;
}
.image img{
    height: 180px;
    width: 320px;
}
.image a{
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 140px;
    color: #fff;
    display: block;
    width: 320px;
    height: 180px;
    transition: top 1s;
}
.image a h1{
    text-align: center;
}
.image a:hover{
    top: 0px;
}
